<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__title">Developers Team:</div>
    <div class="footer__dev">
      <a class="footer__link" href="https://github.com/AndreyKomov">AndreyKomov</a>
      <a class="footer__link" href="https://github.com/uaolmer">uaolmer</a>
      <a class="footer__link" href="https://github.com/riatitova">riatitova</a>
      <a class="footer__link" href="https://github.com/cup0ra">cup0ra</a>
      <a class="footer__link" href="https://github.com/Yuliya-soul">Yuliya-soul</a>
      <a class="footer__link" href="https://github.com/GoldenkovVitali">GoldenkovVitali</a>
      <a class="footer__link" href="https://github.com/Yeeeeee1">Yeeeeee1</a>
    </div>
   

    <span class="footer__year">2021</span>

    <div class="footer__logo">
      <a class="footer__link" href="https://rs.school/js/"> <img class="logo__img" src="../../../assets/rs_school_js.svg" alt="logo" /></a>
    </div>
  </div>
</footer>
