@import 'variables';
@import 'mixins';

:host {
  @include media-max-width {
    & .auth-button__button {
      width: 100px;
      margin-top: 18px;
    }
  }
  @include media-desktop {
  }
  @include media-tablet-landscape {
  }
  @include media-tablet-portrait {
  }
  @include media-mobile {
  }

  & button {
    float: right;
  }
}
