<div class="container-audiocall-promo">
  <div class="game-description">
    <h4>Игра на тренировку навыков аудирования.</h4>
    <div class="description-text">
      <p>В процессе игры необходимо угадать слово, произнесенное на английском языке.
        При выборе правилього/неправильного ответа звучит соответствующий сигнал.
        В конце появится статистика по количеству угаданных/неугаданных слов и аудио-дорожки всех слов,
        участвовавших в игре.
      </p>

      <p>Выбирайте слово кликом мыши или нажатием соответствующей клавиши с номером слова.</p>
    </div>
  </div>

  <div class="audiocall-previous-settings" *ngIf="startFromMenu">
    <p>Выбор слов для игры</p>
    <div class="enter-group-and-pages">
      <label for="groop">Введите номер раздела (1 - 6)</label>
      <input
      [(ngModel)] = "groupValue"
      id="group"
      class="group-number"
      >
    </div>

  <div class="enter-group-and-pages">
    <label for="page">Введите номер страницы (1 - 30)</label>
    <input
    [(ngModel)] = "pageValue"
    id="page"
    class="page-number"
    >
  </div>

  </div>

  <a routerLink="audiocallgame" [queryParams]="{group: groupValue, page: pageValue}" class="start-link">
    <button class="start-game">Начать</button>
  </a>


</div>
