.container-audiocall-promo {
  position: relative;
  width: 500px;
  margin: 10px auto;
  text-align: center;

    .game-description {
      position: relative;
      display: block;
      width: 500px;
      margin: 0 auto;
      text-align: center;
    }

    .game-types {
      display: flex;
      width: 690px;
      margin: 50px auto;
      justify-content: space-between;
      text-align: center;

        .studied-words,
        .random-words {
          width: 250px;
          height: 190px;
          border: solid 2px blueviolet;
          border-radius: 5%;
          background-color: skyblue;
        }

        .start-game {
          background-color: yellowgreen;
        }
    }
}

