@import "variables";

.audiocall-game {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

    .speaker {
      width: 125px;
      margin: 10px auto;
      background-color: cornsilk;
      border: 2px solid $footer-slider-bg;
      border-radius: 20%;

        img {
          width: 125px;
        }
    }

    .speaker:hover {
      cursor: pointer;
      transform: scale(1.15);
    }

    .words-list {
      position: relative;
      width: 295px;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;

        .words {
          position: relative;
          margin: 10px auto;
          width: 145px;
          height: 25px;
          text-align: center;
          border-radius: 19px;
          padding: 5px;
          border: 2px double $main-text-color;
          color: $main-text-color;
          background-color: $footer-slider-bg;
          font-family: $font-main;
          font-size: 19px;
          outline: none;
          text-align: center;
        }

        .words:hover {
          cursor: pointer;
          transform: scale(1.15);
        }

        .correct {
          background-color: greenyellow;
        }

    }

    .additional-buttons {
      display: flex;
      width: 250px;
      margin: 10px auto;
      justify-content: space-between;

        .help,
        .go-back-btn {
          position: relative;
          margin: 10px auto;
          width: 110px;
          text-align: center;
          border-radius: 5px;
          padding: 5px;
          border: 2px double ;
          color: $main-text-color;
          background-color: cornsilk;
          font-family: $font-main;
          font-size: 19px;
          outline: none;
          text-align: center;
        }

        button:hover {
          cursor: pointer;
          color: $footer-slider-bg;
          transform: scale(1.15);
        }
    }

    .forward {
      display: none;
      position: relative;
      margin: 10px auto;
      width: 80px;
      height: 39px;
      border-radius: 5px;
      border: 2px double ;
      background-image: url(../../../../../../assets/img/forward.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      outline: none;
    }

    .active {
      display: block;
    }
}
