<div class="audiocall-game">
  <div (click)="repeatSound()" class="speaker">
    <img src="./assets/img/speaker.png" alt="speaker">
  </div>

  <div class="words-list">
    <div
    class="words"
    *ngFor="let wordItem of currentWords"
    (click)="checkWord(wordItem)"
    [ngClass]="{correct: correctStyle}"
    >
    {{wordItem.wordTranslate}}
  </div>
  </div>

  <div class="additional-buttons">
    <button class="help">Подсказка</button>
    <button routerLink="/games" class="go-back-btn">Завершить</button>
  </div>

  <button class="forward" [ngClass]="{active: active}"></button>

</div>
