<div class="audiocall-game">
  <div class="speaker">
    <img src="./assets/img/speaker.png" alt="speaker">
  </div>

  <div class="words-list">
    <div
    class="words"
    *ngFor="let word of wordsArray"
    (click) = "checkWord(word)"
    >
    {{word.wordTranslate}}
  </div>
  </div>

  <div class="additional-buttons">
    <button mat-raised-button color="primary" class="help">Подсказка</button>
    <button mat-raised-button color="primary" class="go-back-btn">Завершить</button>
  </div>

  <!-- <input class="in" [(ngModel)]="inValue" > -->
</div>
