
<div class="container">

<div class="header-container"> <h1>СПРИНТ</h1>
<br/>

<button  (click)="update()"
 mat-raised-button="" color="primary" class="mat-focus-indicator auth-button__button mat-raised-button mat-button-base mat-primary" ng-reflect-color="primary"><span class="mat-button-wrapper">Начать</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>
</div>

 
<div class="start-screen">
    <h2>СПРИНТ</h2>
    <br/>
    <h3>
        Мини-игра «Спринт» - это тренировка для повторения заученных слов из вашего словаря.
        После запуска игры вы увидите слово и перевод. Вам нужно выбрать, правильно это или неправильно.
            <br/>

        1. Используйте мышь, чтобы выбрать.
        <br/>

        2. Используйте клавиши влево и вправо.
    </h3>

<div *ngIf="display" class="game">
Добро пожаловать в игру СПРИНТ
<button  (click)="update()"
 mat-raised-button="" color="primary" class="mat-focus-indicator auth-button__button mat-raised-button mat-button-base mat-primary" ng-reflect-color="primary"><span class="mat-button-wrapper">Закрыть</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>
</div>

 </div>

 

 
 </div>

<div>

</div>