* { padding:0; margin:0; box-sizing:border-box; }
.container { 
	width:100%;
    max-width:1020px;
	margin:0px auto; 
}
img {
  border-radius: 8px;
}
h1{
text-align: center ;
display:block;
font-family: Arial,sans-serif;
color: #483d8b;
font-weight: 500;
    line-height: 1.2;
}

h3 {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    text-align: center 	
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    padding: 0 60px 0 75px;
    background-color: #fff;
    box-shadow: 1px 5px 14px rgb(0 0 0 / 10%);
}
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 150px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 2px #000;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(https://sport-marafon.ru/upload/iblock/89e/1912-001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
.game{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    padding: 20px 30px;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    background:#87CEEB;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(https://w-dog.ru/wallpapers/14/8/431875231827951.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}
.closeButton{
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1;
 
}
.gradient-button-right {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #18b372 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradient-button-wrong {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #d81781 0%, #e61414 51%, #d81781 100%);
    background-size: 100% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradient-button-right:hover {
    background-position: right center;
  }
  .gradient-button-wrong:hover {
    background-position: right center;
  }
  .word-and-translation{
      margin-top: 200px;
      margin-bottom: 80px;
      font-size: 25pt;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
  }
.game-bar{
display: block;
}
