
<div class="container">

<div class="header-container"> <h1>СПРИНТ</h1>
<br/>

<button  (click)="update()"
 mat-raised-button="" color="primary" class="mat-focus-indicator auth-button__button mat-raised-button mat-button-base mat-primary" ng-reflect-color="primary"><span class="mat-button-wrapper">Начать</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span>
</button>
</div>

 
<div class="start-screen">
    <h2>СПРИНТ</h2>
    <br/>
    <h3>
        Мини-игра «Спринт» - это тренировка для повторения заученных слов из вашего словаря.
        После запуска игры вы увидите слово и перевод. Вам нужно выбрать, правильно это или неправильно.
            <br/>

        1. Используйте мышь, чтобы выбрать.
        <br/>
        2. Используйте клавиши влево и вправо.
    
      
    </h3>

    <div *ngIf="display" class="game">

    <button class="closeButton" (click)="update()">Закрыть</button>
     
    <div class="level-and-round-choice">
        <label class="level__label">  Уровень  </label>
        <select class="level__select"   (change)="onLevelChange($event.target.value)">
            <option  value="1"> 1 </option>
            <option  value="2"> 2 </option>
            <option  value="3"> 3 </option>
            <option  value="4"> 4 </option>
            <option  value="5"> 5 </option>
            <option  value="6"> 6 </option>
        </select>
   
        <label  class="round__label">Раунд</label>
         <select class="round__select" (change)="onRoundChange($event.target.value)">
             <option value="1"> 1 </option>
             <option  value="2"> 2 </option>
             <option  value="3"> 3 </option>
             <option  value="4"> 4 </option>
             <option  value="5"> 5 </option>
             <option  value="6"> 6 </option>
             <option  value="7"> 7 </option>
        </select>
     </div>
    <div class="word-and-translation">
        <span>word</span>  -    <span>translation</span>
    </div>
    <div class="game-bar">
        <div class="choose-word-translation"></div>
    <button class="gradient-button-right">	&#9668; правильно</button>
    <button class="gradient-button-wrong"> неправильно 	&#9658;</button>
    </div>


<div>


 </div>

 

 
 </div>

<div>

</div>