<div class="container">

<div class="header-container"> <h1>СПРИНТ</h1>
<br/>
  <a mat-button href="https://www.google.com/" target="_blank"  > Начать</a>
</div>


<div class="start-screen">
    <h2>СПРИНТ</h2>
    <br/>
    <h3>
        Мини-игра «Спринт» - это тренировка для повторения заученных слов из вашего словаря.
        После запуска игры вы увидите слово и перевод. Вам нужно выбрать, правильно это или неправильно.
            <br/>

        1. Используйте мышь, чтобы выбрать.
        <br/>

        2. Используйте клавиши влево и вправо.
    </h3>


  


<div>

</div>