<div class="wrapper">
  <div class="dev-team">
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
    <div class="goldenkov">
      <a href="https://github.com/GoldenkovVitali">
        <img src="../../../../assets/img/github.png" alt="github">
        Виталий Голденков
      </a>
    </div>
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
    <div class="komov">
      <a href="https://github.com/AndreyKomov">
        <img src="../../../../assets/img/github.png" alt="github">
        Андрей Комов
      </a>
    </div>
  </div>
</div>

