@import 'variables';
@import 'mixins';

:host {
  .promo__image {
    width: 85%;
  }

  @include media-max-width {
    padding: 0 5%;
    & .promo__intro {
      @include main-template-grid;
      & .promo__text {
        padding-left: 60px;
        & hr {
          max-width: 200px;
        }
        & h1 {
          font-size: 46px;
        }
        & p {
          padding-top: 10px;
          font-size: 18px;
        }
      }


      .promo-list {

      }
    }
  }

  @include media-desktop {
  }

  @include media-tablet-landscape {
  }

  @include media-tablet-portrait {
  }

  @include media-mobile {
  }

  & .promo__intro {
    @include main-template-grid;
    & .promo__text {
      width: 390px;
      & hr {
        margin: 0px;
        height: 1px;
        background-color: $main-text-color;
        border: none;
      }
      & h1 {
        letter-spacing: 1px;
        font-family: $font-roboto;
      }
      & p {
        line-height: 1.3;
        font-family: $font-montserrat;
      }
    }
  }

  & .promo__intro {
    display: grid;
    & .promo__image {
      display: block;
      margin: 0 auto;
    }
  }
}
