<div class="wrapper" *ngIf="word">
  <div class="wrapper-content">
    <div class="wrapper-content__translate-word">
      {{ translateWord }}
    </div>
    <div class="wrapper-content__text">
      <span> Собери слово из букв </span>
    </div>
    <div class="right-letter-content">
      <button
        [ngClass]="{ empty: !letter, currentBlock: placeIndex === index }"
        class="letter-box right-letter"
        *ngFor="let letter of rightLettersArr; let index = index"
      >
        {{ letter }}
      </button>
    </div>
    <div class="ready-letter-content">
      <button
        class="letter-box ready-letter"
        (click)="checkLetter(letter, index, $event)"
        *ngFor="let letter of letterArr; let index = index"
      >
        {{ letter }}
      </button>
    </div>

    <div *ngIf="isEndRaund">
      <img [src]="baseImgUrl" alt="img-association">
      <div>{{ context }}</div>
    </div>

    

    <div *ngIf="!isEndRaund; else continueBtn">
      <span class="wrapper-content__enter">enter</span>

      <button class="wrapper-content__dont-know-button" (click)="showAnswer()">
        <span>не знаю :(</span>
      </button>
    </div>
  </div>
</div>

<ng-template #continueBtn>
    <span class="wrapper-content__enter">enter</span>

    <button class="wrapper-content__continue-button" (click)="nextRaund()">
      <span>Продолжить</span>
    </button>
</ng-template>
