@import 'variables';
@import 'mixins';

:host {
  margin-right: auto;
  @include media-max-width {
    font-size: 16px;
    & .menu {
      margin-top: 26px;
    }
  }

  @include media-desktop {
  }

  @include media-tablet-landscape {
  }

  @include media-tablet-portrait {
  }

  @include media-mobile {
    display: flex;
    flex-direction: column;
    background-color: green;
  }

  & .menu {
    display: block;
    letter-spacing: 0.5px;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    &__item {
      text-transform: uppercase;
      margin: 0 5%;
    }
    &__link {
      color: $header-text-color;
      &:hover {
        font-weight: bold;
      }
    }
    @include media-mobile {
      display: flex;
      flex-direction: column;
      background-color: green;
    }
  }

  & .active {
    font-weight: bold;
  }
}
