@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

body {
  font-family: $font-main;
  color: $main-text-color;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
