<section class="header-textbook">
  <div class="section-menu">
    <app-buttons-category [group]="group" [colorLink]="colorLink" (clickCategory)="onClickCategory($event)"></app-buttons-category>
    <app-buttons-game></app-buttons-game>
    <button mat-icon-button matTooltip="НАСТРОЙКИ" (click)="onClickSettings()">
      <mat-icon>tune</mat-icon>
    </button>
    <button mat-icon-button matTooltip="СЛОВАРЬ" (click)="onClickSettings()">
      <mat-icon>menu_book</mat-icon>
    </button>
  </div>
  <div>
    <app-pagination [page]="page" [quantityPage]="30"></app-pagination>
  </div>
</section>
<router-outlet></router-outlet>
