@import 'mixins';

.header {
  display: block;
  background-color: #d5dbde;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__container h1 {
  display: inline-block;
  margin: 0;
  font-size: 1.25rem;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
}
